@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 480px;

  @include tablet {
    padding-right: 32px;
     padding-left: 32px;
    max-width: 768px;
  }

  @include desktop {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
