@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/background/background_s.png');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;

  @include retina {
    background-image: url('../images/background/background_s@2x.png');
  }

  @include tablet {
    background-image: url('../images/background/background_md.png');

    @include retina {
      background-image: url('../images/background/background_md@2x.png');
    }
  }

  @include desktop {
    background-image: url('../images/background/background_lg.png');
    @include retina {
      background-image: url('../images/background/background_lg@2x.png');
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 480px;

    @include tablet {
      padding-right: 32px;
      padding-left: 32px;
      max-width: 768px;
    }

    @include desktop {
      padding-right: 16px;
      padding-left: 16px;
      max-width: 1200px;
    }
  }
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
%cursor,
button {
  cursor: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M6.04696 2.01171L16.9811 12.2169C18.8522 13.9633 17.8177 17.1 15.2748 17.3907L11.1573 17.8612C10.124 17.9793 9.15329 18.4167 8.38025 19.1124L6.0069 21.2484C4.07633 22.9859 1 21.6159 1 19.0186V4.20487C1 1.58174 4.12929 0.221893 6.04696 2.01171Z' stroke='%23131313' stroke-width='2'/%3E%3C/svg%3E"),
    pointer;
}
