@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  /* Text colors */
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --third-text-color: #ababab;
  --primary-accent-color: #f8d24e;
  --second-accent-color: #d6936d;
  --button-text-color-first: #000000;
  --button-text-color-second: #131313;
  --button-hover-color: #0a8817;
  /* BG colors */
  --main-bg-color: #84a178;
  --modal-bg-color: #fcfcfc;
  /*Icons bg*/
  --icon-bg-color: #f8d24e;
  /*input bg*/
  --input-bg-color: rgba(248, 210, 78, 0.1);
  /*Products bg-color*/
  --product-bg-cream: #aec6a5;
  --pruduct-bg-coffe: #efd478;
  --product-bg-milkshakes: #d6936d;
  /*Product picture-gradient*/
  --product-grad-cream: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  --product-grad-coffe: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  --product-grad-milkshake: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  /*Product picture-shadow*/
  --product-shadow-cream: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  --product-shadow-coffe: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  --product-shadow-milkshake: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  --backdrop-colour: rgba(19, 19, 19, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_uppertitle, .section_title {
  margin: 0;
}

.about_text_container {
  margin: 0;
}

.mobile_menu, .site-nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile_menu_link, .site_nav_link {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1200px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: var(--button-text-color);
  background-color: var(--icon-bg-color);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

.button:focus {
  color: var(--main-text-color);
}

.button--transparent {
  border: 2px solid var(--icon-bg-color);
  background-color: transparent;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}

.button--transparent:hover,
.button--transparent:focus {
  border-color: var(--button-hover-color);
}

.button--transparent:focus {
  color: var(--main-text-color);
}

.button--disabled {
  background-color: var(--third-text-color);
}

.button--disabled--transparent {
  border: 2px solid var(--third-text-color);
  background-color: transparent;
}

.modal {
  margin: auto;
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
}
@media screen and (min-width: 768px) {
  .modal {
    padding-top: 32px;
    padding-right: 60px;
    padding-bottom: 32px;
    padding-left: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  background-color: var(--backdrop-colour);
}

.section_title {
  font-family: var(--secondary-font);
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .section_title {
    font-size: 34px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .section_title {
    font-size: 36px;
  }
}

.section_uppertitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .section_uppertitle {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .section_uppertitle {
    font-size: 30px;
  }
}

.about {
  background-color: var(--main-bg-color);
}

.about_image_container {
  position: relative;
}

.about_title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about_title {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .about_title {
    margin-bottom: 82px;
  }
}

.about_uppertitle {
  margin-bottom: 12px;
}

.about_image {
  position: absolute;
  top: 22px;
  left: calc(50% - 140px);
  width: 279px;
  height: 278px;
  border-radius: 50%;
  background-image: url(../images/about/s@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about_image {
    background-image: url(../images/about/s@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .about_image {
    left: auto;
    width: 330px;
    height: 356px;
    background-image: url(../images/about/m@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about_image {
    background-image: url(../images/about/m@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .about_image {
    background-image: url(../images/about/l@1x.jpg);
    width: 491px;
    height: 490px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about_image {
    background-image: url(../images/about/l@2x.jpg);
  }
}

.about_gradient {
  position: absolute;
  left: calc(50% - 140px);
  width: 279px;
  height: 278px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .about_gradient {
    left: auto;
    width: 330px;
    height: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .about_gradient {
    width: 491px;
    height: 490px;
  }
}

.about_text_container {
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 360px;
}
@media screen and (min-width: 768px) {
  .about_text_container {
    text-align: left;
    padding-left: 400px;
    margin-top: 80px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about_text_container {
    font-size: 16px;
    padding-left: 616px;
    margin-top: 172px;
    margin-bottom: 54px;
  }
}

.about_text_first {
  margin-bottom: 4px;
}

.about_text_second {
  line-height: 1.62;
  margin-bottom: 10px;
}

.about_text_third {
  display: none;
}
@media screen and (min-width: 768px) {
  .about_text_third {
    display: block;
  }
}

.about_btn_container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about_btn_container {
    padding-left: 225px;
  }
}

.about_btn {
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #84a278;
}

.header_container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 308px;
    padding: 0;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    align-items: center;
    margin-right: 204px;
  }
}

.site-nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
@media screen and (max-width: 1199px) {
  .site-nav_list {
    display: none;
  }
}

.site_nav_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  transition: color 250ms ease-in-out;
}

.site_nav_link:hover,
.site_nav_link:focus {
  color: var(--primary-accent-color);
}

.header_button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_button {
    display: inline-flex;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
  background-color: #85a279;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  color: #fff;
}

.mobile_logo {
  position: absolute;
  top: 12px;
  left: 32px;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile_menu_link {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: var(--main-text-color);
}

.mobile_button {
  min-width: 152px;
}
@media screen and (min-width: 768px) {
  .mobile_button {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */