:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  /* Text colors */
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --third-text-color: #ababab;

  --primary-accent-color: #f8d24e;
  --second-accent-color: #d6936d;

  --button-text-color-first: #000000;
  --button-text-color-second: #131313;
  --button-hover-color: #0a8817;

  /* BG colors */
  --main-bg-color: #84a178;
  --modal-bg-color: #fcfcfc;

  /*Icons bg*/
  --icon-bg-color: #f8d24e;

  /*input bg*/
  --input-bg-color: rgba(248, 210, 78, 0.1);

  /*Products bg-color*/
  --product-bg-cream: #aec6a5;
  --product-bg-coffe: #efd478;
  --product-bg-milkshakes: #d6936d;

  /*Product picture-gradient*/
  --product-grad-cream: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  --product-grad-coffe: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  --product-grad-milkshake: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;

  /*Product picture-shadow*/

  --product-shadow-cream: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  --product-shadow-coffe: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  --product-shadow-milkshake: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

  // Backdrop for modals
  --backdrop-colour: rgba(19, 19, 19, 0.4);
}
