<section class="section about" id="about">
  <div class="container">
    <p class="section_uppertitle about_uppertitle">Tradition and love</p>
    <h2 class="section_title about_title">How it's made?</h2>
    <div class="about_image_container">
      <span class="about_gradient"></span>
      <span class="about_image"></span>
    </div>
    <div class="about_text_container">
      <p class="about_text_first">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about_text_second">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about_text_third">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </div>
    <button type="button" class="button about_btn" data-modal-readmore-open>
      Read more<svg class="about_btn_icon" width="12" height="12">
        <use href="./images/icons.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</section>
