<section class="advantages section">
  <div class="advantages__container">
    <h2 class="advantages__header visually-hidden">Advantages</h2>
    <ul class="advantages__list card-set">
      <li class="advantages__card">
        <p class="advantages__quantity advantages__quantity-one _anim-items">
          721
        </p>
        <p class="advantages__text _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <p class="advantages__quantity advantages__quantity-two _anim-items">
          16kg
        </p>
        <p class="advantages__text _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <p class="advantages__quantity advantages__quantity-three _anim-items">
          84
        </p>
        <p class="advantages__text _anim-items">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
