<!-- <section class="advantages"> -->
<!-- <h2 class="advantages__header">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__card">
      <p class="advantages__quantity">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__card">
      <p class="advantages__quantity">16kg</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__card">
      <p class="advantages__quantity">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul> -->
<!-- </section> -->
