<div class="backdrop is-hidden" data-modal>
  <div class="modal modal-buy-now" data-modal-window>
    <button class="modal_btn" data-modal-close>
      <svg class="modal__cross js-modal-close">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <!---------------Картки--------------->
    <strong class="buy-now__title">Buy now</strong>
    <ul class="buy-now__list">
      <li class="buy-now__item buy-now__card-1">
        <span class="buy-now__gradient card-gradient-1"></span>
        <label class="modal__form-agreement-desc" for="user_agreement-1">
          <input
            class="modal__checkbox modal__checkbox-1"
            type="checkbox"
            id="user_agreement-1"
          />
          <span class="buy-now__img img-1"></span>
        </label>
        <p class="buy-now__name">ice cream</p>
      </li>

      <li class="buy-now__item buy-now__card-2">
        <span class="buy-now__gradient card-gradient-2"></span>
        <label class="modal__form-agreement-desc" for="user_agreement-2">
          <input
            class="modal__checkbox modal__checkbox-2"
            type="checkbox"
            id="user_agreement-2"
          />
          <span class="buy-now__img img-2"></span>
        </label>
        <p class="buy-now__name">ice coffe</p>
      </li>

      <li class="buy-now__item buy-now__card-3">
        <span class="buy-now__gradient card-gradient-3"></span>
        <label class="modal__form-agreement-desc" for="user_agreement-3">
          <input
            class="modal__checkbox modal__checkbox-3"
            type="checkbox"
            id="user_agreement-3"
          />
          <span class="buy-now__img img-3"></span>
        </label>
        <p class="buy-now__name">milkshake</p>
      </li>
    </ul>

    <form class="buy-now__form" name="contact_form">
      <div class="buy-now_wrap">
        <input
          class="buy-now_field"
          type="text"
          name="name"
          id="name-buy-now"
          placeholder="."
          pattern="[A-Za-z]{2,}"
          title="Please, write your name and surname"
          required
        />
        <label class="buy-now_label" for="name-buy-now">Name</label>
      </div>
      <div class="buy-now_wrap">
        <input
          class="buy-now_field"
          type="tel"
          name="tel"
          id="tel-buy-now"
          placeholder="."
          pattern="\+?[0-9\s\-\(\)]+"
          title="Please, write your phone number"
          minlength="13"
          required
        />
        <label class="buy-now_label" for="tel-buy-now">Phone</label>
      </div>

      <div class="buy-now_textarea">
        <textarea
          class="buy-now_comment"
          name="comment"
          id="comment-buy-now"
          placeholder="."
          rows="3"
          autocomplete="off"
          minlength="10"
          title="Please, write down your wishes for the order"
          pattern="^[a-zA-Z]+$"
        ></textarea>
        <label class="buy-now_label comments" for="comment-buy-now"
          >Comment</label
        >
      </div>
      <div class="modal-buy-button-container">
        <button class="modal__form-btn button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
