<footer class="footer">
    <div class="footer__container">
        <p class="footer__upper-title">homemade ice cream made
            <span class="footer__title">with
                passion</span>
        </p>
        <div class="footer-wraper">
            <ul class="socials-networks">
                <li class="socials-networks__item"> <a href="https://github.com/" class="socials-networks__link"
                        target="_blank" rel="noopener no-referrer nofollow"> <svg class="socials-networks__icon"
                            width="20" height="20">
                            <use href="./images/icons.svg#github"></use>
                        </svg> </a> </li>
                <li class="socials-networks__item"> <a href="https://telegram.org/" class="socials-networks__link"
                        target="_blank" rel="noopener no-referrer nofollow"> <svg class="socials-networks__icon"
                            width="20" height="20">
                            <use href="./images/icons.svg#telegram"></use>
                        </svg> </a> </li>
                <li class="socials-networks__item"> <a href="https://www.facebook.com/" class="socials-networks__link"
                        target="_blank" rel="noopener no-referrer nofollow"> <svg class="socials-networks__icon"
                            width="20" height="20">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg> </a> </li>
            </ul>
            <address class="footer-contacts__address">
                <p class="footer-contacts__text">Feel free to contact </p> <a href="tel:+610383766284"
                    class="footer-contacts__phone" aria-label="tel" target="_blank"> +61 (0) 383 766
                    284</a>
            </address>
        </div>
    </div>
    <p class="footer-contect__text"> © 2022 - IceCream. <span class="footer-contect__rights"> All Rights Reserved.
        </span>
    </p>
</footer>