<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div
      class="autoplay gallery_slider"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img1.webp    1x,
              ./images/gallery/img1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img1.jpg    1x,
              ./images/gallery/img1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img1.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img2.webp    1x,
              ./images/gallery/img2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img2.jpg    1x,
              ./images/gallery/img2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img2.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img3.webp    1x,
              ./images/gallery/img3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img3.jpg    1x,
              ./images/gallery/img3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img3.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>