<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div
      class="autoplay gallery_slider"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img1_lg.webp    1x,
              ./images/gallery/img1_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img1_lg.jpg    1x,
              ./images/gallery/img1_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img1_md.webp    1x,
              ./images/gallery/img1_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img1_md.jpg    1x,
              ./images/gallery/img1_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img1_s.webp    1x,
              ./images/gallery/img1_s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img1_s.jpg    1x,
              ./images/gallery/img1_s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img1_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img2_lg.webp    1x,
              ./images/gallery/img2_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img2_lg.jpg    1x,
              ./images/gallery/img2_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img2_md.webp    1x,
              ./images/gallery/img2_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img2_md.jpg    1x,
              ./images/gallery/img2_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img2_s.webp    1x,
              ./images/gallery/img2_s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img2_s.jpg    1x,
              ./images/gallery/img2_s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img2_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img3_lg.webp    1x,
              ./images/gallery/img3_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/img3_lg.jpg    1x,
              ./images/gallery/img3_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img3_md.webp    1x,
              ./images/gallery/img3_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/img3_md.jpg    1x,
              ./images/gallery/img3_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img3_s.webp    1x,
              ./images/gallery/img3_s@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/img3_s.jpg    1x,
              ./images/gallery/img3_s@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img3_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>

    </div>
  </div>
</section>