<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div
      class="autoplay gallery_slider"
      data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
    >
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img1_lg.webp    1x,
              ./images/gallery/img1_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img1_lg.jpg    1x,
              ./images/gallery/img1_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img1_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img2_lg.webp    1x,
              ./images/gallery/img2_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img2_lg.jpg    1x,
              ./images/gallery/img2_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img2_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/img3_lg.webp    1x,
              ./images/gallery/img3_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/img3_lg.jpg    1x,
              ./images/gallery/img3_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery_slide"
            src="./images/gallery/img3_lg.jpg"
            width="1013px"
            alt="ice-cream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>