<header class="header">
  <div class="container header_container">
    <a href="./index.html" class="logo">
      <img
        srcset="./images/logo/logo_lg1x.png 1x, ./images/logo/logo_lg2x.png 2x"
        src="./images/logo/logo_lg1x.png"
        alt="company logo"
        width="60"
        height="65"
      />
    </a>
    <nav class="nav">
      <ul class="site-nav_list">
        <li class="site_nav_item">
          <a href="#hero" class="site_nav_link">Home</a>
        </li>
        <li class="site_nav__item">
          <a href="#about" class="site_nav_link">How it’s made?</a>
        </li>
        <li class="site_nav_item">
          <a href="#products" class="site_nav_link">Our products</a>
        </li>
        <li class="site_nav_item">
          <a href="#contacts" class="site_nav_link">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile_toggle_burger" width="32" height="32">
        <use href="./images/icons.svg#burger-btn"></use>
      </svg>
    </button>
    <button type="button" class="button header_button">
      Buy now
      <svg class="header_button_icon" width="12" height="12">
        <use href="./images/icons.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
  <!-- mobile menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <a href="./index.html" class="mobile_logo">
      <img
        srcset="
          ./images/logo/logo_sm1x.png 1x,
          ./images/logo/logo_sm2x.png 2x,
          ./images/logo/logo_md1x.png 1x,
          ./images/logo/logo_md2x.png 2x
        "
        src="./images/logo/logo_sm1x.png"
        sizes="(min-width: 768px) 48px, (min-width: 480px) 40px, 100vw"
        alt="company logo"
        width="48"
        height="44"
      />
    </a>
    <button class="menu-toggle mobile-toggle-close js-close-menu">
      <svg class="mobile_toggle_close" width="32" height="32">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <ul class="mobile_menu">
      <li class="mobile_menu_item">
        <a href="#hero" class="mobile_menu_link">Home</a>
      </li>
      <li class="mobile_menu_item">
        <a href="#about" class="mobile_menu_link">How it’s made?</a>
      </li>
      <li class="mobile_menu_item">
        <a href="#products" class="mobile_menu_link">Our products</a>
      </li>
      <li class="mobile_menu_item">
        <a href="#contacts" class="mobile_menu_link">Contact</a>
      </li>
    </ul>
    <button type="button" class="button modal_button">
      Buy now
      <svg class="mobile_button_icon" width="12" height="12">
        <use href="./images/icons.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</header>
