<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <img
        class="logo__icon"
        srcset="
          ./images/logo/logo_sm_40.png   40w,
          ./images/logo/logo_md_48.png   48w,
          ./images/logo/logo_lg_60.png   60w,
          ./images/logo/logo_sm_80.png   80w,
          ./images/logo/logo_md_96.png   96w,
          ./images/logo/logo_lg_120.png 120w
        "
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 320px) 40px, 100vw"
        src="./images/logo/logo_sm_40.png"
        alt="company logo"
        loading="lazy"
      />
    </a>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#hero" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#about" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#products" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#contacts" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- mobile menu button -->
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu__icon--burger" width="32" height="32">
        <use href="./images/icons.svg#burger-btn"></use>
      </svg>
    </button>
    <!-- tablet and desktop button -->
    <button type="button" class="button header__button">
      Buy now
      <svg class="button__icon--arrow" width="12" height="12">
        <use href="./images/icons.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</header>
