<header class="header" id="header">
  <div class="container header__container">
    <!-- company logo -->
    <a href="./index.html" class="logo">
      <svg class="logo__icon" width="60" height="65">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="site-nav" id="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#hero" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#about" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#products" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#contacts" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- mobile menu button -->
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu__icon--burger" width="32" height="32">
        <use href="./images/icons.svg#burger-btn"></use>
      </svg>
    </button>

    <!-- tablet and desktop button -->
    <button
      type="button"
      class="button header__button animate__animated animate__headShake animate__slow animate__infinite infinite js-open-modal"
      data-modal-open
    >
      Buy now
      <svg class="button__icon--arrow" width="12" height="12">
        <use href="./images/icons.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</header>
