<section class="hero">
  <div class="container hero-container">
    <div class="hero_wrapper_left">
      <h1 class="hero_title">ice cream made with passion</h1>
      <div class="hero_buttons">
        <button class="hero_button-first button--transparent">Products</button>
        <button class="hero_button-second button--transparent">
          How it’s made?
        </button>
      </div>
      <div class="hero_description">
        <img
          src="./images/hero/img1_lg.jpg"
          alt="ice-cream"
          width="225px"
          height="225px"
        />
        <p class="hero_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
    <div class="hero_wrapper_right">
      <img
        src="./images/hero/img2_lg.png"
        alt="ice-cream with face"
        width="456px"
        height="560px"
      />
      <ul class="hero_info">
        <li class="hero_item">
          <p>16</p>
          <p>cafes</p>
        </li>
        <li class="hero_item">
          <p>23</p>
          <p>food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
