<section class="hero">
  <div class="container hero-container">
    <div class="hero_wrapper_left">
      <h1 class="hero_title">ice cream made with passion</h1>
      <div class="hero_buttons">
        <button class="hero_button-first button--transparent">Products</button>
        <button class="hero_button-second button--transparent">
          How it’s made?
        </button>
      </div>
      <div class="hero_description">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/img1_lg.png    1x,
              ./images/hero/img1_lg@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/img1_md.png    1x,
              ./images/hero/img1_md@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="hero_image"
            src="./images/hero/img1_md.png"
            width="152px"
            alt="many ice-cream"
          />
        </picture>
        <p class="hero_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
    <div class="hero_wrapper_right">
      <img
        src="./images/hero/img2_lg.png"
        alt="ice-cream with face"
        width="456px"
        height="560px"
      />
      <ul class="hero_info">
        <li class="hero_item">
          <p>16</p>
          <p>cafes</p>
        </li>
        <li class="hero_item">
          <p>23</p>
          <p>food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
