<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="button-modal-close" data-modal-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <strong class="modal-title">Our Locations</strong>

    <picture>
      <source
        srcset="
          ./images/moldal_location/mapmob@1.jpg      224w,
          ./images/moldal_location/mapmob@2x.jpg     448w,
          ./images/moldal_location/mapmob@1x.webp    224w,
          ./images/moldal_location/mapmob@2x.webp    448w,
          ./images/moldal_location/maptab@1x.jpg     448w,
          ./images/moldal_location/maptab@2x.jpg     896w,
          ./images/moldal_location/mapwptab1@1x.webp 448w,
          ./images/moldal_location/mapwptab2@2x.webp 896w
        "
        sizes="(min-width: 768px) 448px, (min-width: 480px) 224px"
        width="224"
      />
      <img src="./images/moldal_location/maptab@2x.jpg" alt="" />
    </picture>

    <a class="send-form" href="">Open map</a>
  </div>
</div>
