<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="button-modal-close" data-modal-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <strong class="modal-title">Our Locations</strong>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/moldal_location/mapwptab1@1x.webp 1x,
          ./images/moldal_location/mapwptab2@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/moldal_location/maptab@1x.jpg 1x,
          ./images/moldal_location/maptab@2x.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/moldal_location/mapmob@1x.webp 1x,
          ./images/moldal_location/mapmob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/moldal_location/mapmob@1.jpg  1x,
          ./images/moldal_location/mapmob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="card-img"
        src="./images/moldal_location/mapmob@1.jpg"
        alt=""
        width="224"
        height="199"
      />
    </picture>

    <a class="send-form" href="">Open map</a>
  </div>
</div>
