<!-- mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="./index.html" class="logo__menu">
    <img
      class="logo__icon"
      srcset="
        ./images/logo/logo_sm_40.png 40w,
        ./images/logo/logo_md_48.png 48w,
        ./images/logo/logo_lg_60.png 60w,
        ./images/logo/logo_sm_80.png 80w
      "
      sizes="(min-width: 768px) 48px, (min-width: 320px) 40px, 100vw"
      src="./images/logo/logo_sm_40.png"
      alt="company logo"
      loading="lazy"
    />
  </a>
  <button class="menu-toggle menu--close js-close-menu">
    <svg class="menu__icon--close" width="32" height="32">
      <use href="./images/icons.svg#close-btn"></use>
    </svg>
  </button>

  <ul class="menu__list">
    <li class="menu__item">
      <a href="#hero" class="menu__link">Home</a>
    </li>
    <li class="menu__item">
      <a href="#about" class="menu__link">How it’s made?</a>
    </li>
    <li class="menu__item">
      <a href="#products" class="menu__link">Our products</a>
    </li>
    <li class="menu__item">
      <a href="#contacts" class="menu__link">Contact</a>
    </li>
  </ul>
  <button type="button" class="button menu__button">
    Buy now
    <svg class="button__icon--arrow" width="12" height="12">
      <use href="./images/icons.svg#arrow-btn"></use>
    </svg>
  </button>
</div>
