<div class="backdrop">
  <div class="modal">
    <strong class="modal_title">Chololate icecream</strong>

    <img
      src="./images/product-info-modal/mobile-modal-product.png"
      alt="icecream"
    />

    <ul class="modal_nutrition">
      <li>320 kcal</li>
      <li>4g Protein</li>
      <li>8,2g Fats</li>
      <li>40,4g Carbs</li>
    </ul>

    <span>Ingredients</span>
    <ul class="modal_ingredients">
      <li>Milk 100ml</li>
      <li>Belgian chocolate 20g</li>
      <li>Cream 150 ml</li>
      <li>Cocoa powder 30g</li>
      <li>Sugar 40g</li>
      <li>Vanilla sugar 10g</li>
    </ul>

    <form class="modal_form">
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" name="name" />
        </li>
        <li>
          <label for="phone">Phone</label>
          <input type="text" name="text" />
        </li>
        <li>
          <label for="comment">Comment</label>
          <textarea type="textarea" name="comment"></textarea>
        </li>
      </ul>
      <button class="modal_button" type="submit"></button>
    </form>
  </div>
</div>
