<section class="section">
  <div class="container">
    <span id="products" class="section_undertitle">100% natural</span>
    <h2 class="section_title">products</h2>
    <ul class="products__list card-set">
      <li class="products__item card-set__item">
        <span class="product__gradient grad-1"></span>
        <span class="product__img img-1"></span>
        <h3 class="product__name">ice cream</h3>
        <p class="product__descr">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product__btn">
          <svg class="product__arrow" width="40" height="16">
            <use href="./images/icons.svg#product-btn"></use>
          </svg>
        </button>
      </li>
      <li class="products__item card-set__item">
        <span class="product__gradient grad-2"></span>
        <span class="product__img img-2"></span>
        <h3 class="product__name">ice coffee</h3>
        <p class="product__descr">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product__btn">
          <svg class="product__arrow" width="40" height="16">
            <use href="./images/icons.svg#product-btn"></use>
          </svg>
        </button>
      </li>
      <li class="products__item card-set__item">
        <span class="product__gradient grad-3"></span>
        <span class="product__img img-3"></span>
        <h3 class="product__name">milkshakes</h3>
        <p class="product__descr">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product__btn">
          <svg class="product__arrow" width="40" height="16">
            <use href="./images/icons.svg#product-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
