<!-- ICE CREAM MODAL -->
<div class="backdrop backdrop-product is-hidden" data-iceCream>
  <div class="modal-dialog">
    <div class="modal-product">
      <button class="modal_btn" data-iceCream-close>
        <svg class="modal__cross">
          <use href="./images/icons.svg#close-btn"></use>
        </svg>
      </button>

      <strong class="modal-product_title">Chololate icecream</strong>

      <span class="modal-product_picture">
        <span class="modal-product_image cream"></span>
      </span>

      <ul class="modal-product_nutrition">
        <li class="modal-product_item-elipse"><span>320</span> kcal</li>
        <li class="modal-product_item-elipse"><span>4g</span>Protein</li>
        <li class="modal-product_item-elipse"><span>8,2g</span>Fats</li>
        <li class="modal-product_item-elipse"><span>40,4g</span>Carbs</li>
      </ul>

      <span class="span_ingredients">Ingredients</span>
      <ul class="modal-product_ingredients">
        <li class="modal-product_item">Milk <span>100ml</span></li>
        <li class="modal-product_item">Belgian chocolate<span>20g</span></li>
        <li class="modal-product_item">Cream <span>150 ml</span></li>
        <li class="modal-product_item">Cocoa powder<span>30g</span></li>
        <li class="modal-product_item">Sugar <span>40g</span></li>
        <li class="modal-product_item">Vanilla sugar<span>10g</span></li>
      </ul>

      <form class="modal-product_form">
        <ul class="modal-product_form-list">
          <li>
            <input
              class="modal-product_input"
              type="text"
              name="name"
              placeholder=" "
              pattern="[A-Za-z]{2,}"
              title="Minimum 2 letters"
              required
            />
            <label class="modal-product_label">Name</label>
          </li>
          <li>
            <input
              class="modal-product_input"
              type="text"
              name="text"
              placeholder=" "
              pattern="[0-9]"
              {13}
              minlength="13"
              required
            />
            <label class="modal-product_label">Phone</label>
          </li>
          <li>
            <textarea
              class="modal-product_input textarea cream"
              name="comment"
              placeholder=" "
              autocomplete="off"
              minlength="50"
              pattern="^[a-zA-Z]+$"
            ></textarea>
            <label class="modal-product_label">Comment</label>
          </li>
        </ul>
        <button class="modal-product_button button" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- ICE COFFEE MODAL -->
<div class="backdrop backdrop-product is-hidden" data-iceCoffee>
  <div class="modal-dialog">
    <div class="modal-product">
      <button class="modal_btn" data-iceCoffee-close>
        <svg class="modal__cross coffee">
          <use href="./images/icons.svg#close-btn"></use>
        </svg>
      </button>

      <strong class="modal-product_title">Chololate icecoffee</strong>

      <span class="modal-product_picture coffee">
        <span class="modal-product_image coffee"></span>
      </span>

      <ul class="modal-product_nutrition">
        <li class="modal-product_item-elipse coffee"><span>320</span> kcal</li>
        <li class="modal-product_item-elipse coffee"><span>4g</span>Protein</li>
        <li class="modal-product_item-elipse coffee"><span>8,2g</span>Fats</li>
        <li class="modal-product_item-elipse coffee">
          <span>40,4g</span>Carbs
        </li>
      </ul>

      <span class="span_ingredients">Ingredients</span>
      <ul class="modal-product_ingredients">
        <li class="modal-product_item">Milk <span>100ml</span></li>
        <li class="modal-product_item">Belgian chocolate<span>20g</span></li>
        <li class="modal-product_item">Cream <span>150 ml</span></li>
        <li class="modal-product_item">Cocoa powder<span>30g</span></li>
        <li class="modal-product_item">Sugar <span>40g</span></li>
        <li class="modal-product_item">Vanilla sugar<span>10g</span></li>
      </ul>

      <form class="modal-product_form">
        <ul class="modal-product_form-list">
          <li>
            <input
              class="modal-product_input coffee"
              type="text"
              name="name"
              placeholder=""
              pattern="[A-Za-z]{2,}"
              title="Minimum 2 letters"
              required
            />
            <label class="modal-product_label">Name</label>
          </li>
          <li>
            <input
              class="modal-product_input coffee"
              type="text"
              name="text"
              placeholder=""
              pattern="[0-9]{10,}"
              title="Minimum 10 numbers"
              required
            />
            <label class="modal-product_label">Phone</label>
          </li>
          <li>
            <textarea
              class="modal-product_input textarea coffee"
              name="comment"
              placeholder=""
              autocomplete="off"
              minlength="50"
              pattern="^[a-zA-Z]+$"
            ></textarea>
            <label class="modal-product_label">Comment</label>
          </li>
        </ul>
        <button class="modal-product_button button" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- MILKSHAKES MODAL -->
<div class="backdrop backdrop-product is-hidden" data-milkshakes>
  <div class="modal-dialog">
    <div class="modal-product">
      <button class="modal_btn" data-milkshakes-close>
        <svg class="modal__cross milk">
          <use href="./images/icons.svg#close-btn"></use>
        </svg>
      </button>

      <strong class="modal-product_title">Chololate milkshake</strong>

      <span class="modal-product_picture milk">
        <span class="modal-product_image milk"></span>
      </span>

      <ul class="modal-product_nutrition">
        <li class="modal-product_item-elipse milk"><span>320</span> kcal</li>
        <li class="modal-product_item-elipse milk"><span>4g</span>Protein</li>
        <li class="modal-product_item-elipse milk"><span>8,2g</span>Fats</li>
        <li class="modal-product_item-elipse milk"><span>40,4g</span>Carbs</li>
      </ul>

      <span class="span_ingredients">Ingredients</span>
      <ul class="modal-product_ingredients">
        <li class="modal-product_item">Milk <span>100ml</span></li>
        <li class="modal-product_item">Belgian chocolate<span>20g</span></li>
        <li class="modal-product_item">Cream <span>150 ml</span></li>
        <li class="modal-product_item">Cocoa powder<span>30g</span></li>
        <li class="modal-product_item">Sugar <span>40g</span></li>
        <li class="modal-product_item">Vanilla sugar<span>10g</span></li>
      </ul>

      <form class="modal-product_form">
        <ul class="modal-product_form-list">
          <li>
            <input
              class="modal-product_input milk"
              type="text"
              name="name"
              placeholder=""
              pattern="[A-Za-z]{2,}"
              title="Minimum 2 letters"
              required
            />
          <label class="modal-product_label">Name</label>
          </li>
          <li>
            <input
              class="modal-product_input milk"
              type="text"
              name="text"
              placeholder=""
              pattern="[0-9]{10,}"
              title="Minimum 10 numbers"
              required
            />
            <label class="modal-product_label">Phone</label>
          </li>
          <li>
            <textarea
              class="modal-product_input textarea milk"
              name="comment"
              placeholder=""
              autocomplete="off"
              minlength="50"
              pattern="^[a-zA-Z]+$"
            ></textarea>
            <label class="modal-product_label">Comment</label>
          </li>
        </ul>
        <button class="modal-product_button button" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
