<div class="backdrop is-hidden" data-modal>
  <div class="read-more_modal modal">
    <button type="button" class="modal_btn" data-modal-close>
      <svg class="modal__cross">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>
    <strong class="modal_title">How it’s made?</strong>

    <iframe
      class="video-youtube_icecream"
      src="https://www.youtube.com/embed/7gJIyHnD710"
      title="7 Easy Homemade Ice Cream Recipes (No Ice Cream Machine)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="thumb">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
