<div class="backdrop is hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-modal-close" data-modal-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <h1 class="modal-title">How it’s made?</h1>

    <iframe
      width="224"
      height="199"
      src="https://www.youtube.com/embed/7gJIyHnD710"
      title="7 Easy Homemade Ice Cream Recipes (No Ice Cream Machine)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="text-thumb">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
