<section class="reviews section">
  <h2 class="reviews__title visually-hidden title">Customer Reviews</h2>
  <div class="container">
    <ul class="reviews__list list">
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.webp 1x,
              ./images/reviews/img1_85_sm@2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.jpg 1x,
              ./images/reviews/img1_85_sm@2x.jpg 2x
            "
            type="image/jpg"
            loading="lazy"
          />
          <img
            src="./images/reviews/img1_85_sm@1x.jpg"
            alt="співробітник-дизайнер"
            width="85px"
            height="85px"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>

        <p class="reviews__name-town text">Emily, Los Angeles</p>
      </li>
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.webp 1x,
              ./images/reviews/img1_85_sm@2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.jpg 1x,
              ./images/reviews/img1_85_sm@2x.jpg 2x
            "
            type="image/jpg"
            loading="lazy"
          />

          <img
            src="./images/reviews/img1_85_sm@1x.jpg"
            alt="співробітник-дизайнер"
            width="85px"
            height="85px"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="reviews__name-town text">Emily, Los Angeles</p>
      </li>
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.webp 1x,
              ./images/reviews/img1_85_sm@2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.jpg 1x,
              ./images/reviews/img1_85_sm@2x.jpg 2x
            "
            type="image/jpg"
            loading="lazy"
          />

          <img
            src="./images/reviews/img1_85_sm@1x.jpg"
            alt="співробітник-дизайнер"
            width="85px"
            height="85px"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="reviews__name-town text">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
