<section class="reviews">
  <h2 class="reviews__title visually-hidden title">Customer Reviews</h2>
  <div class="container">
    <ul class="reviews__list one-time">
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.webp 1x,
              ./images/reviews/img1_85_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img1_85_sm@1x.jpg 1x,
              ./images/reviews/img1_85_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/reviews/img1_85_sm@1x.jpg"
            alt="the girl near the wall"
            width="85"
            height="85"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>

        <p class="reviews__name-town text">Emily, Los Angeles</p>
      </li>
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img2@1x.webp 1x,
              ./images/reviews/img2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img2@1x.jpg 1x,
              ./images/reviews/img2@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/reviews/img2@1x.jpg"
            alt="a man eat an icecream"
            width="85"
            height="85"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="reviews__name-town">Bryan, New-York</p>
      </li>
      <li class="reviews__card">
        <picture class="reviews__picture">
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img3@1x.webp 1x,
              ./images/reviews/img3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px )"
            srcset="
              ./images/reviews/img3@1x.jpg 1x,
              ./images/reviews/img3@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/reviews/img3@1x.jpg"
            alt="the girl with the cup"
            width="85"
            height="85"
            loading="lazy"
            class="round"
          />
        </picture>
        <div class="reviews__thumb">
          <p class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="reviews__name-town">Diana, Chicago</p>
      </li>
    </ul>
  </div>
</section>
