.modal {
  position: absolute;
  z-index: 100;
  // top: 70px;
  // left: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 89vw;
  max-height: 91%;

  margin: auto;
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;

  background: var(--modal-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--icon-bg-color);
  border-radius: 10px;

  transition: opacity 800ms 500ms ease;

  overflow-y: scroll;

  @include mobile {
    width: 440px;
  }

  @include tablet {
    width: 568px;

    padding-top: 32px;
    padding-right: 60px;
    padding-bottom: 32px;
    padding-left: 60px;
  }
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal_btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  outline: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 24px;
    height: 24px;
  }
}

.modal__cross {
  width: 20px;
  height: 20px;
  fill: #444;

  @include tablet {
    width: 24px;
    height: 24px;
  }

  &:hover {
    fill: var(--button-hover-color);
  }
}

input:focus-within {
   outline: 3px solid rgb(171, 218, 171);
}

input:not(:placeholder-shown):requiered:invalid {
  border: 3px solid rgb(172, 48, 48);
}
