.advantages {
  padding-top: 50px;
  padding-bottom: 64px;
  background-color: var(--main-bg-color);

  @include tablet {
    padding-top: 60px;
    padding-bottom: 204px;
  }
  @include desktop {
    padding-bottom: 178px;
  }
}
.advantages__container {
  padding-right: 45px;
  padding-left: 45px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    padding-right: 76px;
    padding-left: 76px;
    max-width: 768px;
  }
  @include desktop {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }
}
.advantages__list {
  @extend %list;
  gap: 25px;
  text-align: center;

  @include tablet {
    gap: 80px;
  }

  @include desktop {
    gap: 32px;
  }
}

.advantages__card {
  flex-basis: 100%;

  @include tablet {
    flex-basis: calc((100% - 160px) / 3);
  }
  @include desktop {
    flex-basis: calc((100% - 64px) / 3);
  }
}

.advantages_icon_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.advantages__quantity {
  @extend %text;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);

  margin-bottom: 16px;

  @include tablet {
    font-size: 48px;
    line-height: 1.23;
    text-transform: none;
    margin-bottom: 12px;
  }

  @include desktop {
    font-size: 58px;
  }
}
// .advantages__quantity-one::before {
//   @extend %text;
//   @extend %before;
//   content: '';
//   background-image: url('../images/advantages/img1@1x.png');

//   @include retina {
//     background-image: url('../images/advantages/img1@2x.png');
//     background-size: contain;
//   }
// }

// .advantages__quantity-two::before {
//   @extend %text;
//   @extend %before;
//   content: '';
//   background-image: url('../images/advantages/img2@1x.png');

//   @include retina {
//     background-image: url('../images/advantages/img2@2x.png');
//     background-size: contain;
//   }
// }

// .advantages__quantity-three::before {
//   @extend %text;
//   @extend %before;
//   content: '';
//   background-image: url('../images/advantages/img3@1x.png');

//   @include retina {
//     background-image: url('../images/advantages/img3@2x.png');
//     background-size: contain;
//   }
// }

// .advantages__quantity-one::before,
// .advantages__quantity-two::before,
// .advantages__quantity-three::before {
//   bottom: 16px;

//   @include tablet {
//     bottom: 32px;
//   }
//   @include desktop {
//     bottom: 40px;
//   }
// }

.advantages__text {
  @extend %text;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  @include tablet {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    max-width: 152px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.76;
    max-width: 368px;
  }
}

// anim

.advantages__quantity {
  position: relative;
  top: 1.8rem;
  opacity: 0;
}

.advantages__text {
  position: relative;
  top: 1.8rem;
  opacity: 0;
}

.advantages__text._active {
  animation: 0.5s swift-up ease-out forwards, 0.5s fade-in ease-out forwards;
  animation-delay: 0.3s;
}

.advantages__quantity._active {
  animation: 0.5s swift-up ease-out forwards, 0.5s fade-in ease-out forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes swift-up {
  to {
    top: 0rem;
  }
}
