.contacts {
  background: linear-gradient(0deg, var(--main-bg-color) 72.5%, transparent 0%);
  @include tablet {
    background: linear-gradient(0deg, var(--main-bg-color) 52%, transparent 0%);
    @include desktop {
      background: linear-gradient(
        0deg,
        var(--main-bg-color) 76%,
        transparent 0%
      );
    }
  }

  &__card--set {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 60px;
    }
  }

  &__item {
    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;

    background: var(--modal-bg-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include tablet {
      padding-bottom: 40px;
      padding-right: 24px;
      padding-left: 24px;
    }
    @include desktop {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  &__item--upertitle {
    @extend %text;
    display: inline-block;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 22px;
    padding-left: 22px;

    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    background: var(--primary-accent-color);
    border-radius: 4px;

    @include tablet {
      font-size: 16px;
      line-height: 1.4;
      padding-left: 13px;
      padding-right: 13px;
    }
    @include desktop {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  &__adress--wrap {
    padding-top: 20px;
    padding-bottom: 24px;

    @include tablet {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__adress--upertitle {
    @extend %text;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: var(--secondary-text-color);

    @include tablet {
      font-size: 14px;
      line-height: 1.83;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__adress--link {
    @extend %link;

    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    color: var(--second-accent-color);

    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__adress--link:hover,
  &__adress--link:focus {
    text-decoration: underline;
  }

  &__schedule {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 12px;
    line-height: 1.86;

    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @include tablet {
      font-size: 14px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    @include desktop {
      font-size: 16px;
      gap: 12px;
    }
  }

  &__schedule--day {
    @extend %text;
    color: var(--secondary-text-color);
  }

  &__schedule--time {
    @extend %text;
    color: var(--third-text-color);
  }

  &__link--wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 24px;
    font-size: 12px;
    line-height: 1.6;

    @include tablet {
      gap: 4px;
      font-size: 14px;
      line-height: 1.5;
      padding-top: 32px;
    }
    @include desktop {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__link--item {
    @extend %link;
    display: block;
    transition: transform 250ms ease-in-out;
    color: var(--secondary-text-color);
  }
  &__link--item:hover {
    transform: scale(1.07, 1.2);
  }

  &__button--list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include tablet {
      flex-direction: row;
    }
  }

  &__btn {
    z-index: 0;
    min-width: 196px;
  }

  &__btn--second {
    z-index: 0;
    border-radius: 10px;
  }

  &__btn--icon {
    margin-left: 4px;
    fill: currentColor;
    vertical-align: middle;
  }
}
