.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 800;
  background-color: #84a278;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-accent-color);
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  @include desktop {
    margin-right: 308px;
    padding: 0;
  }
}

// .logo__icon {
//   width: 40px;
//   height: 37px;
//   fill: currentColor;

//   @include tablet {
//     width: 48px;
//     height: 44px;
//   }

//   @include desktop {
//     width: 60px;
//     height: 65px;
//   }
// }

.site-nav {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    margin-right: 204px;
  }
}

.site-nav__list {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.site-nav__link {
  @extend %link;

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  transition: color 250ms ease-in-out;
}

.site-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 20px;

  width: 100%;
  height: 5px;

  background-color: var(--primary-accent-color);
  border-radius: 2px;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 250ms;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--primary-accent-color);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header__button {
  display: none;
  @include tablet {
    display: inline-flex;
    min-width: 152px;
    line-height: 1.21;
    gap: 4px;
  }
}

.button__icon--arrow {
  fill: currentColor;
}
