.backdrop {
  opacity: 1;

  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 95%;

  border: 2px solid var(--icon-bg-color);
  background-color: var(--modal-bg-color);
  border-radius: 10px;
  padding: 28px;

  @include desktop {
    min-width: 568px;
  }

  @include mobile {
    min-width: 280px;
  }
}

.modal-title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--secondary-text-color);
  margin-bottom: 20px;
  margin-top: 0ch;
  text-decoration: none;
  vertical-align: middle;
}

.send-form {
  width: 134px;
  height: 42px;
  margin-top: 24px;

  background-color: var(--icon-bg-color);
  border: transparent;
  color: rgba(19, 19, 19, 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  text-align: center;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  margin-left: auto;
  margin-right: auto;
}

.button-modal-close {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  top: 8px;
  right: 8px;

  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--secondary-text-color);
  transition: fill 250ms var(--color-transition);

  padding: 0;

  &:hover,
  &:focus {
    fill: #5e5e5e5e;
  }
}
