@import './about';
@import './advantages';
@import './burger-menu';
@import './buy-now-modal';
@import './contacts';
@import './footer';
@import './franchise-modal';
@import './gallery';
@import './header';
@import './hero';
@import './locations-modal';
@import './product-info-modal';
@import './products';
@import './read-more-modal';
@import './reviews';
