.modal-product {
  max-width: 280px;
  padding: 28px 20px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--modal-bg-color);

  max-height: unset;

  @media screen and (max-width: 479px) {
    min-width: 90vw;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    max-width: unset;
    min-width: 440px;
  }

  @include tablet {
    min-width: 568px;
    padding: 32px 40px;
  }
}

.modal-product_title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.4;

  @media screen and (max-width: 767px) {
    width: 260px;
  }
}

.modal-product_picture {
  width: 132px;
  height: 139px;
  margin-bottom: 22px;
  border-radius: 50%;
  background: var(--product-grad-cream);
  box-shadow: var(--product-shadow-cream);
}

.modal-product_picture.coffee {
  background: var(--product-grad-coffe);
  box-shadow: var(--product-shadow-coffe);
}

.modal-product_picture.milk {
  background: var(--product-grad-milkshake);
  box-shadow: var(--product-shadow-milkshake);
}

.modal-product_image.cream {
  display: block;
  width: 132px;
  height: 132px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/products/cream_md@1x.png);

  @include retina {
    background-image: url(../images/products/cream_md@2x.png);
  }

  @include desktop {
    background-image: url(../images/products/cream_lg@1x.png);

    @include retina {
      background-image: url(../images/products/cream_lg@2x.png);
    }
  }
}

.modal-product_image.coffee {
  display: block;
  width: 132px;
  height: 132px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/products/coffee_md@1x.png);

  @include retina {
    background-image: url(../images/products/coffee_md@2x.png);
  }

  @include desktop {
    background-image: url(../images/products/coffee_lg@1x.png);

    @include retina {
      background-image: url(../images/products/coffee_lg@2x.png);
    }
  }
}

.modal-product_image.milk {
  display: block;
  width: 132px;
  height: 132px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/products/milkshakes_md@1x.png);

  @include retina {
    background-image: url(../images/products/milkshakes_md@2x.png);
  }

  @include desktop {
    background-image: url(../images/products/milkshakes_lg@1x.png);

    @include retina {
      background-image: url(../images/products/milkshakes_lg@2x.png);
    }
  }
}

.modal-product_nutrition {
  @extend %list;
  display: flex;
  gap: 9px;
  margin-bottom: 40px;
}

.modal-product_item-elipse {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 53px;
  height: 72px;
  padding-bottom: 8px;
  border: 2px solid var(--ice-nutrition-background);
  border-radius: 40px;

  font-size: 10px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -1px;
    right: 6%;
    width: 43px;
    height: 43px;
    background-color: var(--ice-nutrition-background);
    border-radius: 40px;
    z-index: 1;
  }

  span {
    position: absolute;
    top: 7px;
    font-weight: 500;
    line-height: 2.8;
    color: var(--secondary-text-color);
    z-index: 2;
  }
}

.modal-product_item-elipse.coffee {
  border-color: var(--product-bg-coffe);
}

.modal-product_item-elipse.coffee::before {
  background-color: var(--product-bg-coffe);
}

.modal-product_item-elipse.milk {
  border-color: var(--product-bg-milkshakes);
}

.modal-product_item-elipse.milk::before {
  background-color: var(--product-bg-milkshakes);
}

.modal-product_ingredients {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  margin-bottom: 40px;
}

.modal-product_item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.modal-product_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-product_form-list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.modal-product_wrap {
  position: relative;
}

.modal-product_field {
  resize: none;
  width: 240px;
  height: 42px;
  padding: 11px;
  background: var(--input-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
  }
}

.modal-product_field.cream:focus-within,
.modal-product_field.textarea.cream:focus-within {
  outline: 3px solid var(--product-bg-cream);
}

.modal-product_field.coffee {
  border-color: var(--product-bg-coffe);
}

.modal-product_field.coffee:focus-within,
.modal-product_field.textarea.coffee:focus-within {
  outline: 3px solid var(--product-bg-coffe);
}

.modal-product_field.milk {
  border-color: var(--product-bg-milkshakes);
}

.modal-product_field.milk:focus-within,
.modal-product_field.textarea.milk:focus-within {
  outline: 3px solid var(--product-bg-milkshakes);
}

.modal-product_field:not(:placeholder-shown):invalid {
  border: 3px solid var(--val-invalid);
}

.modal-product_field:not(:placeholder-shown):valid {
  border: 3px solid var(--button-hover-color);
}

.modal-product_label {
  position: absolute;
  top: 21px;
  left: 12px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;

  @include tablet {
    font-size: 14px;
    left: 16px;
  }
}

.modal-product_field:focus + .modal-product_label,
.modal-product_field:not(:placeholder-shown) + .modal-product_label {
  transform: translateY(-37px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 10px;

  @include tablet {
    transform: translateY(-37px);

    font-size: 12px;
  }
}

.span_ingredients {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.textarea {
  height: 84px;
}

.modal__cross.coffee:hover {
  fill: var(--product-bg-coffe);
}

.modal__cross.milk:hover {
  fill: var(--product-bg-milkshakes);
}
