.products {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 29px;
  }
}

.product__field {
  position: relative;

  min-width: 280px;

  margin-top: 168px;

  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;

  border-radius: 24px;

  @media screen and (min-width: 480px) {
    padding-bottom: 74px;
  }

  @media screen and (min-width: 768px) {
    min-width: 224px;

    margin-top: 200px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;

    box-shadow: var(--product-field-shadow-medium);
    border-radius: 16px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 370px;

    margin-top: 303px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 38px;

    box-shadow: var(--product-field-shadow-large);
    border-radius: 24px;
  }
}

.product__field:nth-child(2n) {
  background: var(--product-bg-coffe);
}

.product__field:nth-child(2n + 1) {
  background: var(--product-bg-milkshakes);
}

.product__field:first-child {
  background: var(--product-bg-cream);

  @media screen and (max-width: 767.98px) {
    margin-top: 148px;
  }
}

// PRODUCT IMAGES //

.product__img {
  position: absolute;
  left: calc(50% - 100px);
  top: -108px;

  display: flex;

  height: 200px;
  width: 200px;
  border-radius: 50%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // background-color: var(--product-bg-cream);

  @media screen and (min-width: 768px) {
    left: calc(50% - 100px);
    top: -120px;
  }

  @media screen and (min-width: 1200px) {
    left: calc(50% - 151px);
    top: -183px;

    height: 302px;
    width: 302px;
  }
}

.img-1 {
  background-image: url(../images/products/cream-md@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/cream-md@2x.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/cream-lg@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/cream-lg@2x.png);
    }
  }
}

.img-2 {
  background-image: url(../images/products/coffee-md@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/coffee-md@2x.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/coffee-lg@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/coffee-lg@2x.png);
    }
  }
}

.img-3 {
  background-image: url(../images/products/milkshakes-md@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/milkshakes-md@2x.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/milkshakes-lg@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes-lg@2x.png);
    }
  }
}

// PRODUCT BG`S //

.product__gradient {
  position: absolute;
  left: calc(50% - 100px);
  top: -97px;

  display: flex;

  height: 200px;
  width: 200px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    left: calc(50% - 100px);
    top: -108px;
  }

  @media screen and (min-width: 1200px) {
    left: calc(50% - 151px);
    top: -167px;

    height: 302px;
    width: 302px;
  }
}

.grad-1 {
  background: var(--product-grad-cream);
  box-shadow: var(--product-shadow-cream);
}

.grad-2 {
  background: var(--product-grad-coffe);
  box-shadow: var(--product-shadow-coffe);
}

.grad-3 {
  background: var(--product-grad-milkshake);
  box-shadow: var(--product-shadow-milkshake);
}

// PRODUCT DESCRIPTIONS //

.product__name {
  @extend %title;

  margin-bottom: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 66px;

    font-size: 30px;
  }
}

.product__descr {
  @extend %text;

  min-height: 148px;
  margin-bottom: 37px;

  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--secondary-text-color);

  @media screen and (min-width: 480px) {
    min-height: 74px;
  }

  @media screen and (min-width: 768px) {
    min-height: 175px;
    margin-bottom: 37px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 142px;
    margin-bottom: 28px;

    font-size: 16px;
  }
}

// PRODUCT BTN //

.product__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;

  width: 160px;
  height: 48px;

  border: 0;
  background: transparent;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 120px;
    height: 60px;
  }
}

.product__btn:hover,
.product__btn:focus {
  fill: var(--main-text-color);
}
